<main class="banner">
    <div class="container-fluid md-flex">
        <img [src]="miPortfolio.imageBanner"   class="foto img-fluid" alt="Banner" border="0">
    </div>
    
        <!--Informacion-->
        <div class=" container-fluid d-md">
<!-- <h2 class="nombre">{{miPortfolio.informacionGeneral.nombre}}</h2> -->
<a href="#"><h4 class="subtittle">Información de Contacto</h4></a>
<h4 class="subtittle">{{miPortfolio.informacionGeneral.posicion}}</h4>
<h4 class="subtittle">{{miPortfolio.informacionGeneral.email}}</h4>
<h4 class="subtittle">{{miPortfolio.informacionGeneral.ubicacion}}</h4>

<button type="button" class="btn btn-outline-warning">Tengo Interes en</button>
<button type="button" class="btn btn-outline-warning">Añadir</button>
<button type="button" class="btn btn-outline-warning">Sección</button>     
    </div>
    </main>
